<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_UCE>
			<version>1.4.0.0</version>
			<fishpig>
				<id>ultimate-category-excluder</id>
				<name>Ultimate Category Excluder</name>
				<url>http://fishpig.co.uk/magento-wordpress-ultimate-category-excluder.html</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_UCE>
	</modules>
	<global>
		<blocks>
			<wp_addon_uce>
				<class>Fishpig_Wordpress_Addon_UCE_Block</class>
			</wp_addon_uce>
		</blocks>
		<helpers>
			<wp_addon_uce>
				<class>Fishpig_Wordpress_Addon_UCE_Helper</class>
			</wp_addon_uce>
		</helpers>
	</global>
	<frontend>
		<events>
			<wordpress_block_homepage_post_collection_before_load>
				<observers>
					<wp_addon_uce_home>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_UCE_Model_Observer</class>
						<method>applyMainExclusionObserver</method>
					</wp_addon_uce_home>
					<wp_addon_uce_feed>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_UCE_Model_Observer</class>
						<method>applyFeedHomeExclusionObserver</method>
					</wp_addon_uce_feed>
				</observers>
			</wordpress_block_homepage_post_collection_before_load>
			<wordpress_block_archive_view_post_collection_before_load>
				<observers>
					<wp_addon_uce>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_UCE_Model_Observer</class>
						<method>applyArchiveViewExclusionObserver</method>
					</wp_addon_uce>
				</observers>
			</wordpress_block_archive_view_post_collection_before_load>
			<wordpress_block_result_post_collection_before_load>
				<observers>
					<wp_addon_uce>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_UCE_Model_Observer</class>
						<method>applySearchExclusionObserver</method>
					</wp_addon_uce>
				</observers>
			</wordpress_block_result_post_collection_before_load>
		</events>	
	</frontend>
	<default>
		<wordpress>
			<extend>
				<uce>1</uce>
			</extend>
		</wordpress>
	</default>
	<fishpig>
		<injection>
			<Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
				<Fishpig_Wordpress_Addon_UCE>
					<Block_System_Config_Form_Field_License><ignore /></Block_System_Config_Form_Field_License>
				</Fishpig_Wordpress_Addon_UCE>
			</Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
			<Fishpig_Inject_Wordpress_Helper_License>
				<Fishpig_Wordpress_Addon_UCE>
					<Helper_License><ignore /></Helper_License>
				</Fishpig_Wordpress_Addon_UCE>
			</Fishpig_Inject_Wordpress_Helper_License>
		</injection>
		<encode>
			<helper_license>app/code/community/Fishpig/Wordpress/Addon/UCE/Helper/License.php</helper_license>
			<block_license>app/code/community/Fishpig/Wordpress/Addon/UCE/Block/System/Config/Form/Field/License.php</block_license>
		</encode>
	</fishpig>
</config>